*{
    margin:0;
    padding:0;
}
html,body{
    position:relative;
    height:100%;
}

body {
    background: #fdfdfd;
    color: #777;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    font-family: "consolas",monospace;
}

main#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 360px;
    height: 180px;
    text-align: center;
    vertical-align: middle;
}

main#root ul {
    margin: 0.5em auto;
    padding: 0;
    list-style: none;
    display: block;
}

main#root ul li{
    display:inline-block;
    margin: 0.5em 0.8em;
}
main#root ul li a{
    color: #2196F3;
    transition: color 500ms ease;
    font-size: 24px;
}

main#root ul li a:hover,
main#root ul li a:focus{
    color:#607D8B;
    transition: color 500ms ease;
}