*{
    margin:0;
    padding:0;
}
html,body{
    position:relative;
    height:100%;
}

body {
    background: #fdfdfd;
    color: #777;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    font-family: "consolas",monospace;
}

main#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 360px;
    height: 180px;
    text-align: center;
    vertical-align: middle;
}